@use "./variables" as *;

section {
    padding:20px;
}
.about {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;  
    
    &__heading {
        text-transform: uppercase;
        font-size: 32px;
        font-weight:lighter;
    }
    &__img {
        padding: 40px 0;
      align-items: center;
        width:85vw;
        
    }
    &__text {
        margin: 40px 0;
        font-size:23px ;
    }      
}




