@use "./variables" as *;

.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
    &__heading {
        font-family:$font-headings;
        font-size:60px;
        font-weight: lighter;
       
    }

    &__button {

        height:79px;
        width:272px;
        font-size: 20px;
        font-weight:500;
        text-transform: uppercase;
        background-color: white;
        border-radius: 2px;
        justify-content: center;
    
    }
}