@use "./variables" as *;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;
    background-color: black;  
}

.button {
    margin: 5px;
    width: 55px;
    height:55px;
    border-radius: 50%;
    border:none;
    

    &:hover {
        cursor:pointer;
    }
    
}