
@use "./variables" as *;

.intro {
    display: flex;
    flex-direction: column;
    padding:20px;

    &__heading {

        font-size: 60px;
        font-weight: lighter;
        font-family: $font-headings;
        padding:0;
    }

    &__text {
        padding:0;
        font-size: 23px;
    }

}

@media screen and (min-width: 768px) {

    .intro {

        display:flex;
        flex-direction: column;
        padding: 15px 20px;
        
    
        
        &__heading {
           
            font-family: $font-headings;
            font-size: 110px;
            align-items: center;
            text-align: center;
            font-weight:lighter;
            padding: 0 130px;
            color: $color-headings;
        }

        &__text {
            width: 40vw;
            align-items: left ;
            font-size: 20px;
            padding: 0 135px;
            opacity: 95%;
       }
   }
}





