@use "./variables" as *;

.nav {
    display: flex;
    justify-content: center;
    
    &__heading {
    
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      color: $color-headings;
    }
}
div{
    display:none;
}

@media screen and (min-width: 768px) {

    .nav {
        padding: 66px 100px;
        height:58px;
        display: flex;
        justify-content:space-between;
    
      
        &__button {

            font-size: 20px;
            visibility: visible;
            text-decoration: none;
            font-family: $font-body;  
            color: black;
            opacity: 95%;
            padding: 15px 30px;
            margin:2px;

            &:hover {
                border:2px solid;
                border-color: $color-headings;
                transform:scale(1.05);
                transition:transform 500ms ease;
            }
       }

       &__heading {
            font-size: 48px;
            margin:0;
          
        }
    }

    div {
        display: flex;
        justify-content: flex-end;
    }
}