@use "./variables" as *;

.nav {
    display: flex;
    justify-content: center;
    
    &__heading {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
    }
}
div{
    display:none;
}

@media screen and (min-width: 768px) {

    .nav {
        padding: 66px 100px;
        height:58px;
        display: flex;
        justify-content:space-between;
        height:58px;
      
        &__button {
            font-size: 20px;
            visibility: visible;
            text-decoration: none;
            font-family: $font-body;  
       }

       &__heading {
            font-size: 48px;
        }
    }

    div {
        display: flex;
        justify-content: flex-end;
    }
}