@use "./variables" as *;

.portfolio {

    display: flex;
    flex-direction: column;

    &__img {
        align-items: center;
        width:85vw;
    }
    
    &__heading {
        font-family: $font-headings;
        text-transform: uppercase;
        font-weight: lighter;
        font-size:32px;
        font-weight:700;
    }
}

.project { 
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    
&__button {
    height:45px;
    width:45px;
    padding: 15px 15px;
    margin: 0 5px;
    align-content: center;
    border-radius: 50%;
    
    background-color: black;
     
    &--img {
      justify-content: center;
      align-content: center;
     }
}
    &__heading {
        padding: 10px;
        font-family: $font-headings;
        text-transform: uppercase;
        font-size:32px;
        width: 60%;
       
    }

    &__four {
        display:none;
    }
    &__five {
        display:none;
    }
    &__six {
        display:none;
    }

}

.right {
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (min-width:768px) {
    .portfolio {

      display:grid;
      grid-template-columns:33% 33% 33%;
      grid-template-rows:100px 400px 400px 100px;
      gap: 2%;
      padding: 0 130px ;

      &__heading {
        grid-column: 1/4;
        grid-row:1
      }
        &__img {
        width:100%;
        }
    }
    .project {
       
        &__heading {
        
            margin:0;
            padding:0; 
            grid-row: 3;
            font-family: $font-headings;
            text-transform: uppercase;
            font-size: 32px;
            width:70%;
        }
        &__one {
            grid-column:1;
            grid-row: 2;
            
            }

            &__four  {
               display: unset; 
            }
            &__five {
                display: unset;
            }
            &__six {
                display: unset;
            }
                
           
        .right {
            padding:10px;
            margin:0;
        }
}
}
