@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.nav {
  display: flex;
  justify-content: center;
}
.nav__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

div {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 66px 100px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    height: 58px;
  }
  .nav__button {
    font-size: 20px;
    visibility: visible;
    padding: 0 30px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: black;
    margin-top: 10px;
  }
  .nav__heading {
    font-size: 48px;
    margin: 0;
  }
  div {
    display: flex;
    justify-content: flex-end;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.intro__heading {
  font-size: 60px;
  font-weight: lighter;
  font-family: Cormorant, serif;
  padding: 0;
}
.intro__text {
  padding: 0;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
  }
  .intro__heading {
    font-family: Cormorant, serif;
    font-size: 128px;
    align-items: center;
    text-align: center;
    font-weight: lighter;
  }
  .intro__text {
    height: 128px;
    width: 615px;
    align-items: left;
    font-size: 20px;
  }
}
section {
  padding: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about__heading {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: lighter;
}
.about__img {
  padding: 40px 0;
  align-items: center;
  width: 85vw;
}
.about__text {
  margin: 40px 0;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    gap: 15px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 100px 2fr;
    grid-template-rows: 100px 200px 200px 100px;
  }
  .about__img {
    width: 500px;
    height: 600px;
    grid-row: 1/3;
    grid-column: 5/6;
  }
  .about__heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .about__text {
    grid-column: 1/4;
    font-size: 20px;
  }
}
.skills {
  display: none;
}

@media screen and (min-width: 768px) {
  .skills {
    display: unset;
    display: flex;
    flex-direction: column;
    padding: 35px;
  }
  .skills__heading {
    font-family: Cormorant, serif;
    font-size: 32px;
    text-transform: uppercase;
  }
  .skills__text {
    font-size: 20px;
    padding: 40px 0;
  }
  div {
    justify-content: center;
    gap: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio__img {
  align-items: center;
  width: 85vw;
}
.portfolio__heading {
  font-family: Cormorant, serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 32px;
  font-weight: 700;
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.project__button {
  height: 45px;
  width: 45px;
  padding: 15px 15px;
  margin: 0 5px;
  align-content: center;
  border-radius: 50%;
  background-color: black;
}
.project__button--img {
  justify-content: center;
  align-content: center;
}
.project__heading {
  padding: 10px;
  font-family: Cormorant, serif;
  text-transform: uppercase;
  font-size: 32px;
  width: 60%;
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 500px;
    gap: 15px;
    margin: 20px;
  }
  .portfolio__heading {
    grid-column: 1/4;
    grid-row: 1;
  }
  .portfolio__img {
    width: 450px;
  }
  .project__heading {
    margin: 0;
    padding: 0;
    grid-row: 3;
    font-family: Cormorant, serif;
    text-transform: uppercase;
    font-size: 32px;
    width: 70%;
  }
  .project__one {
    grid-column: 1;
    grid-row: 2;
  }
  .project .right {
    padding: 5px;
    margin: 0;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.contact__heading {
  font-family: Cormorant, serif;
  font-size: 60px;
  font-weight: lighter;
}
.contact__button {
  height: 79px;
  width: 272px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  border-radius: 2px;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 100vw;
  background-color: black;
}

.button {
  margin: 3px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

p {
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=main.css.map */