@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.nav {
  display: flex;
  justify-content: center;
}
.nav__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

div {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    padding: 66px 100px;
    height: 58px;
    display: flex;
    justify-content: space-between;
  }
  .nav__button {
    font-size: 20px;
    visibility: visible;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: black;
    opacity: 95%;
    padding: 15px 30px;
    margin: 2px;
  }
  .nav__button:hover {
    border: 2px solid;
    border-color: #333333;
    transform: scale(1.05);
    transition: transform 500ms ease;
  }
  .nav__heading {
    font-size: 48px;
    margin: 0;
  }
  div {
    display: flex;
    justify-content: flex-end;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.intro__heading {
  font-size: 60px;
  font-weight: lighter;
  font-family: Cormorant, serif;
  padding: 0;
}
.intro__text {
  padding: 0;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 20px;
  }
  .intro__heading {
    font-size: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .intro__heading {
    font-family: Cormorant, serif;
    font-size: 120px;
    align-items: center;
    text-align: center;
    font-weight: lighter;
    color: #333333;
  }
  .intro__text {
    width: 40vw;
    align-items: left;
    font-size: 20px;
    padding: 0 135px;
    opacity: 95%;
  }
}
section {
  padding: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about__heading {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: lighter;
  color: #333333;
}
.about__img {
  padding: 40px 0;
  align-items: center;
  width: 85vw;
}
.about__text {
  font-size: 23px;
  opacity: 95%;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
  }
  .about__img {
    width: 50vw;
    align-self: center;
    grid-row: 1/3;
    grid-column: 5/6;
  }
  .about__heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .about__text {
    font-family: "Inter", sans-serif;
    grid-column: 1/4;
    font-size: 20px;
    padding: 25px;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 100px 2fr;
    grid-template-rows: 100px 200px 200px 100px;
    padding: 50px 130px;
  }
  .about__img {
    width: 500px;
    height: 600px;
    grid-row: 2/4;
    grid-column: 5/6;
  }
  .about__heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .about__text {
    font-family: "Inter", sans-serif;
    grid-column: 1/4;
    font-size: 20px;
    padding: 25px;
    margin: 0;
  }
}
.skills {
  display: none;
}

@media screen and (min-width: 768px) {
  .skills {
    display: unset;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
  .skills__heading {
    font-family: Cormorant, serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #333333;
  }
  .skills__text {
    font-size: 20px;
    opacity: 95%;
    width: 90vw;
  }
}
@media screen and (min-width: 1024px) {
  .skills {
    display: unset;
    display: flex;
    flex-direction: column;
    padding: 0 130px;
  }
  .skills__img {
    justify-content: center;
    gap: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .skills__text {
    font-size: 20px;
    opacity: 95%;
  }
  .skills__heading {
    font-family: Cormorant, serif;
    font-size: 32px;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio__img {
  align-items: center;
  width: 85vw;
}
.portfolio__heading {
  font-family: Cormorant, serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  padding: 20px 0;
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.project__button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px 15px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: black;
  border: none;
}
.project__heading {
  display: flex;
  font-family: Cormorant, serif;
  text-transform: uppercase;
  font-size: 32px;
  width: 60%;
  color: #333333;
}
.project__four {
  display: none;
}
.project__five {
  display: none;
}
.project__six {
  display: none;
}
.project__sub {
  display: none;
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    justify-content: center;
  }
  .project__five {
    display: none;
  }
  .project__six {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 600px 600x 100px;
    gap: 2%;
    padding: 0 110px;
  }
  .portfolio__heading {
    grid-column: 1/4;
    grid-row: 1;
  }
  .portfolio__img {
    width: 100%;
  }
  .project {
    display: flex;
    justify-content: flex-start;
    opacity: 70%;
    transition: transform 500ms ease;
  }
  .project:hover {
    opacity: 100%;
    transform: scale(1.05);
  }
  .project__heading {
    margin: 0;
    padding: 0;
    grid-row: 3;
    font-family: Cormorant, serif;
    text-transform: uppercase;
    font-size: 32px;
    width: 70%;
  }
  .project__one {
    grid-column: 1;
    grid-row: 2;
  }
  .project__four {
    display: unset;
  }
  .project__five {
    display: unset;
  }
  .project__six {
    display: unset;
  }
  .project__sub {
    display: unset;
  }
  .project .right {
    padding: 25px 0;
    margin: 0;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.contact__heading {
  font-family: Cormorant, serif;
  font-size: 60px;
  font-weight: lighter;
  color: #333333;
}
.contact__button {
  height: 79px;
  width: 272px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  color: #333333;
  border-radius: 2px solid #333333;
  justify-content: center;
  opacity: 95%;
}

@media screen and (min-width: 786px) {
  .contact__heading {
    font-size: 100px;
  }
  .contact__button {
    transition: all 250ms linear;
  }
  .contact__button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  .contact__heading {
    font-size: 120px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  background-color: black;
}

.button {
  margin: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
}
.button:hover {
  cursor: pointer;
}

p {
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=main.css.map */